body{
  background-color: #332c50;
  color : #94e344
}
.header{
  color: white;
  text-align: center;
}
li{
  list-style-type: none;
  width: 90%;
}
.aboutArtist{
  float:right;
  max-width: 300px;
  padding: 50px;
}
.sidebar{
  width: 200px;
  border-width: 60px;
  border: black;
  background-color: #e2f3e4;
  border-style: groove;
  float: left;
  text-align: center;
  padding: 10px;
  color: black;
  margin: 5px;
  box-sizing: border-box;
}